{%- macro summaryItem(heading, value) %}
  <div class="ns-grid ns-grid-cols-subgrid ns-col-span-6">
    <dt class="ns-font-bold ns-text-xs
            ns-col-span-2 md:ns-col-span-6
            ns-self-center ns-justify-self-end md:ns-justify-self-start
    ">{{ heading | t('neverstale') | raw }}</dt>
    <dd class=" ns-col-span-4 md:ns-col-span-6">
      {{ value | raw }}
    </dd>
  </div>
{%- endmacro %}
<section class="ns-flex ns-flex-col ns-gap-4">
  <header>
    <h2>{{ 'Content Submission Details'| t('neverstale') }}</h2>
  </header>
  <dl class="ns-grid ns-grid-cols-6 md:ns-grid-cols-12 ns-gap-4">
    {{ _self.summaryItem( 'Entry' | t('app'), content.entry ? elementChip(content.entry) : ('[Deleted element]' | t('app'))) }}

    {% if craft.app.getIsMultiSite() %}
      {{ _self.summaryItem( 'Site' | t('app'), content.site) }}
    {%-endif %}

    {%- set status %}
      <span class="status {{ content.statusColor }}"></span>
      <span>{{ content.statusModel.label | t('neverstale') }}</span>
    {%- endset  %}

    {{ _self.summaryItem( 'Content Status', status) }}

    {%- set flagCount %}
      <span>{{ content.flagCount }}</span>
      {%- if content.isPendingProcessingOrStale %}
        &nbsp;({{ 'Provisional' | t('neverstale') }})
      {%- endif %}
    {%- endset %}
    {{ _self.summaryItem( 'Flag Count', flagCount) }}
    {{ _self.summaryItem( 'Content Custom ID', "<code>#{content.customId}</code>") }}
    <hr class="ns-col-span-4 md:ns-col-span-8 ns-my-1">
    {{ _self.summaryItem('Created at', content.dateCreated | timestamp) }}
    {{ _self.summaryItem('Last updated at', content.dateUpdated | timestamp) }}
    {%- set dateAnalyzed %}
      <span>{{ content.dateAnalyzed | timestamp  }}</span>
      {%- if content.isPendingProcessingOrStale %}
        &nbsp;({{ 'Provisional' | t('neverstale') }})
      {%- endif %}
    {%- endset %}
    {{ _self.summaryItem( 'Last analyzed at', dateAnalyzed) }}
    {%- set dateExpired %}
      <span>{{ content.dateExpired | timestamp  }}</span>
      {%- if content.isPendingProcessingOrStale %}
        &nbsp;({{ 'Provisional' | t('neverstale') }})
      {%- endif %}
    {%- endset %}
    {{ _self.summaryItem( 'Content expired at' , dateExpired) }}
  </dl>
  <footer class="ns-flex ns-justify-end ns-pt-4 ns-border-t">
    <form method="post">
      {{ hiddenInput('contentId', content.id) }}
      {{ actionInput('neverstale/content/refresh') }}
      {{ redirectInput(craft.app.request.url) }}
      {{ csrfInput() }}
      <button type="submit" class="btn icon">
        {{ tag('span', {
          'data-icon': 'arrows-rotate',
          'data-icon-size': 'small',
          'role': 'img',
        }) }}
        <span>{{ 'Refresh Neverstale Data'|t('neverstale') }}</span>
      </button>
    </form>
  </footer>
</section>
