{% set opts = {
  cellClasses: 'ns-py-2 ns-px-4 ns-flex ns-gap-2 ns-w-full lg:ns-table-cell lg:ns-align-top',
} | merge(opts ?? {})%}
<section class="ns-flex ns-flex-col ns-gap-4 ns-max-w-full ns-overflow-x-auto">
  <header>
    <h2>{{ 'Transaction Log'|t('neverstale') }}</h2>
  </header>
  <table class="ns-block lg:ns-table ns-w-full">
    <thead class="hidden lg:ns-table-header-group">
      <tr>
        <th scope="col" class="ns-text-xs md:ns-text-sm ns-align-bottom">{{ 'Date'|t('neverstale') }}</th>
        <th scope="col" class="ns-text-xs md:ns-text-sm ns-align-bottom">{{ 'Analysis Status'|t('neverstale') }}</th>
        <th scope="col" class="ns-text-xs md:ns-text-sm ns-align-bottom">{{ 'Message'|t('neverstale') }}</th>
      </tr>
    </thead>
    <tbody class="ns-block lg:ns-table-row-group">
    {% for transaction in content.transactionLogs.orderBy('dateCreated DESC').collect() %}
      {% set status = neverstaleToAnalysisStatus(transaction.status) %}
      <tr class="ns-border-b {{ loop.index % 2 ? 'ns-bg-gray-200' : 'ns-bg-white' }} ns-block lg:ns-table-row">
        <td class="{{ opts.cellClasses }} ns-items-center lg:ns-w-[15%] lg:ns-min-w-[150px]">
          <div class="ns-text-sm lg:ns-hidden ns-font-bold ns-min-w-[100px]" aria-hidden="true">{{ 'Date'|t('neverstale') }}</div>
          <div class="">{{ transaction.dateCreated | datetime("Y-m-d H:i:s") }}</div>
        </td>
        <td class="{{ opts.cellClasses }} ns-items-center lg:ns-w-[20%] lg:ns-min-w-[200px]">
          <div class="ns-text-sm lg:ns-hidden ns-font-bold ns-min-w-[100px]" aria-hidden="true">{{ 'Status'|t('neverstale') }}</div>
          {%- if status -%}
            <div class="status {{ status.color.value }}" aria-hidden="true"></div>
            {{ status.label }}
          {%- else %}
            <div>{{ transaction.status | title }}</div>
          {%- endif -%}
        </td>
        <td class="{{ opts.cellClasses }} ns-items-top lg:ns-max-w-[65%]">
          <span class="ns-text-sm lg:ns-hidden ns-font-bold ns-min-w-[100px]" aria-hidden="true">{{ 'Message'|t('neverstale') }}</span>
          <span>{{ transaction.message }}</span>
          <details>
            <summary class="ns-text-[10px] ns-px-1 ns-py-0">{{ 'Show more / less'|t('neverstale') }}</summary>
            <div>
                <pre>
                  {{- transaction.debugTransaction | json_decode | json_encode(constant('JSON_PRETTY_PRINT')) | raw }}
                </pre>
            </div>
          </details>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="3">{{ 'No transaction log entries yet' | t('neverstale') }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <footer class="ns-flex ns-justify-end ns-pt-4 ns-border-t">
    <form method="post">
      {{ hiddenInput('contentId', content.id) }}
      {{ actionInput('neverstale/content/reset-logs') }}
      {{ csrfInput() }}

      <button type="submit" class="btn icon">
        {{ tag('span', {
          'data-icon': 'trash',
          'data-icon-size': 'small',
          'role': 'img',
        }) }}
        <span>{{ 'Reset transaction logs'|t('neverstale') }}</span>
      </button>
    </form>
  </footer>
</section>
