{%- import '_includes/forms' as forms %}

<h2>Preview the content submitted to Neverstale for an Entry</h2>

<p>Allows for preview/debugging of data sent to Neverstale. <strong>Note this utility does not actually submit anything to the Neverstale API</strong></p>

<form {{ attr({
  id: 'neverstale-content-preview',
  class: 'utility',
  method: 'GET',
}) }}>

  {{ forms.elementSelect({
    label: 'Select an Entry',
    elementType: 'craft\\elements\\Entry',
    elements: previewEntry ? [previewEntry] : null,
    single: true,
    name: 'entryId',
  }) }}

  <div class="buttons">
    <button type="submit" class="btn submit">Preview</button>
  </div>
</form>
<hr>
{% if previewEntry %}
  <h2>Metadata</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% for field, value in entryMeta %}
        <tr>
          <td><code>{{ field }}</code></td>
          <td><strong><code>{{ value }}</code></strong></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <pre>
  </pre>
  <h2>Field Content</h2>
  <pre>
    {{ craft.neverstale.format.entryContent(previewEntry) }}
  </pre>
{% endif %}
