{#
  Neverstale Plugin Settings

  @author Zaengle
  @package zaengle/craft-neverstale
  @since 1.0.0
  @see https://github.com/zaengle/craft-neverstale

  @var plugin \neverstale\Plugin
  @var settings \neverstale\models\Settings
#}

{%- import '_includes/forms.twig' as forms %}

{%- macro configOverrideWarning(setting, fileConfig) -%}
  {%- if craft.neverstale.config.get(setting) is not null -%}
    {{- 'This setting is being overridden by the `{setting}` value in the `config/neverstale.php` file.'|t('neverstale', params = {
      setting: setting,
    }) }}
  {%- else -%}
    {{ false }}
  {%- endif -%}
{%- endmacro %}

<h2>{{ 'Neverstale Credentials'| t('neverstale') }}</h2>

{{ forms.autosuggestField({
  label: 'API Key' | t('neverstale'),
  instructions: 'You can find your API key in Neverstale after you create your Content Source'|t('neverstale'),
  name: 'apiKey',
  required: true,
  value: settings.apiKey,
  suggestEnvVars: true,
  errors: settings.getErrors('apiKey'),
  warning: _self.configOverrideWarning('apiKey'),
  disabled: craft.neverstale.config.isOverriddenByFile('apiKey'),
}) }}

{{ forms.autosuggestField({
  label: 'Webhook Secret' | t('neverstale'),
  instructions: 'You can find your Webhook Secret in your Neverstale account settings.'|t('neverstale'),
  name: 'webhookSecret',
  required: true,
  value: settings.webhookSecret,
  suggestEnvVars: true,
  errors: settings.getErrors('webhookSecret'),
  warning: _self.configOverrideWarning('webhookSecret'),
  disabled: craft.neverstale.config.isOverriddenByFile('webhookSecret'),
}) }}

<h2>{{ 'Content settings'| t('neverstale') }}</h2>

{{ forms.lightswitchField({
  first: true,
  label: 'Enable Neverstale sync' | t('neverstale'),
  name: 'enable',
  on: settings.enable,
  warning: _self.configOverrideWarning('enable'),
  disabled: craft.neverstale.config.isOverriddenByFile('enable'),
}) }}

{{ forms.checkboxSelectField({
  id: 'enabledSections',
  label: 'Which Sections should be enabled for Neverstale sync?' | t('neverstale'),
  name: 'enabledSectionIds',
  showAllOption: true,
  warning: _self.configOverrideWarning('sections'),
  required: true,
  instructions: 'Choose which sections you want to sync with Neverstale.'|t('neverstale'),
  options: craft.app.entries.allSections() | map(section => {
    label: section.name,
    id: section.handle,
    value: section.id,
    disabled: craft.neverstale.config.isOverriddenByFile('sections'),
    checked: section.id in (settings.enabledSections | map(section => section.id ?? null)),
  }),
}) }}
