{#
  Neverstale Content Show/Edit Template

  @author Zaengle
  @package zaengle/craft-neverstale
  @since 1.0.0
  @see https://github.com/zaengle/craft-neverstale
  @var content \neverstale\elements\NeverstaleContent
#}

{%- extends '_layouts/cp' %}
{%- import '_includes/forms' as forms %}

{%- set crumbs = [
  { label: 'Neverstale' | t('neverstale'), url: url('neverstale') },
  { label: 'Content' | t('neverstale'), url: url('neverstale/content') },
  { label: "##{content.id}", url: content.cpEditUrl },
] %}

{%- set title = "Neverstale: #{content.entry.title}" %}

{%- do craft.neverstale.viteService.register('src/web/assets/neverstale/src/neverstale.ts', false, {
  'depends': [
    'neverstale\\craft\\web\\assets\\neverstale\\NeverstaleAsset',
  ],
}) %}

{%- block actionButton %}
  <form method="post">
    {{ hiddenInput('contentId', content.id) }}
    {{ actionInput('neverstale/content/ingest') }}
    {{ redirectInput(craft.app.request.url) }}
    {{ csrfInput() }}
    <button type="submit" class="btn icon">
      {{ tag('span', {
        'data-icon': 'circle-arrow-up',
        'data-icon-size': 'small',
        'role': 'img',
      }) }}
      <span>{{ 'Resubmit Content to Neverstale'|t('neverstale') }}</span>
    </button>
  </form>
{%- endblock %}



{%- block main %}
  <div class="ns-grid ns-grid-cols-1 lg:ns-grid-cols-3 ns-gap-4 ns-ms-1 ns-me-1">
    {%- if content.isPendingProcessingOrStale %}
        <blockquote class="note warning lg:ns-col-span-3 ns-mb-4">
          <p>{{ 'This content is currently pending processing by Neverstale, and as such
      some values may be out of date'|t('neverstale') }}
          </p>
        </blockquote>
    {%- endif %}
    <div class="content-pane ns-px-4 lg:ns-col-span-2">
      {% include 'neverstale/_components/content/submission-details' with { content: content } only %}
      <hr class="ns-ms-0 ns-me-0">
      {% include 'neverstale/_components/content/transaction-log' with { content: content } only %}
    </div>
    <div class="content-pane lg:ns-col-span-1">
      {% include 'neverstale/_components/flags-widget' with {
        content: content,
        title: 'Content Flags'|t('neverstale'),
        opts: {
          showContentSummary: false,
          showLocalDetailsLink: false,
        },
      } only %}
    </div>
  </div>
{% endblock %}
