{#
  Neverstale Content Show/Edit Template

  @author Zaengle
  @package zaengle/craft-neverstale
  @since 1.0.0
  @see https://github.com/zaengle/craft-neverstale
  @var content \zaengle\neverstale\elements\NeverstaleContent
#}


{%- extends '_layouts/cp' %}
{%- import '_includes/forms' as forms %}

{%- set crumbs = [
  { label: 'Neverstale' | t('neverstale'), url: url('neverstale') },
  { label: 'Content' | t('neverstale'), url: url('neverstale') },
  { label: "##{content.id}", url: content.cpEditUrl },
] %}

{%- set title = "Neverstale: #{content.entry.title}" %}

{%- block actionButton %}
  {{ tag('a', {
    class: 'btn',
    href: url('utilities/preview-neverstale-content', {
      entryId: content.entry.id,
    }),
    text: 'Preview Entry Data'|t('neverstale'),
  }) }}
  <form method="post">
    {{ hiddenInput('contentId', content.id) }}
    {{ actionInput('neverstale/content/reset-logs') }}
    {{ csrfInput() }}
    {{ tag('button', {
      type: 'submit',
      class: 'btn',
      text: 'Reset Transaction Logs'|t('neverstale'),
    }) }}
  </form>
  <form method="post">
    {{ hiddenInput('contentId', content.id) }}
    {{ actionInput('neverstale/content/ingest') }}
    {{ csrfInput() }}
    {{ tag('button', {
      type: 'submit',
      class: 'btn submit',
      text: 'Resubmit to Neverstale'|t('neverstale'),
    }) }}
  </form>
{%- endblock %}

{%- block main %}
  <div id="content" class="content-pane">
    <h2>Submission Details</h2>
    <dl id="meta-details" class="meta ns-meta">
      <div class="data ns-data ns-data-2">
        <dt class="heading">{{ 'Entry' | t('app') }}</dt>
        <dd class="value">
          {% if content.entry %}
            {{ elementChip(content.entry) }} {{ craft.app.getIsMultiSite() ? "(#{content.site})" }}
          {% else %}
            {{ '[Deleted element]' | t('neverstale') }}
          {% endif %}
        </dd>
      </div>
      <div class="data ns-data ns-data-2">
        <dt class="heading">{{ 'Content Status' | t('app') }}</dt>
        <dd class="value">
          <span class="status {{ content.statusColor }}"></span>
          <span>{{ content.statusAsEnum.label | t('neverstale') }}</span>
        </dd>
      </div>

      <div class="data ns-data ns-data-2">
        <dt class="heading">{{ 'Flag Count' | t('app') }}</dt>
        <dd class="value">
          <span>{{ content.flagCount }}</span>
        </dd>
      </div>

      <div class="data ns-data ns-data-2">
        <dt class="heading">{{ 'Last updated at' | t('app') }}</dt>
        <dd id="date-updated-value" class="value">{{ content.dateUpdated | timestamp }}</dd>
      </div>
      <div class="data ns-data ns-data-2">
        <dt class="heading">{{ 'Created at' | t('app') }}</dt>
        <dd id="date-created-value" class="value">{{ content.dateCreated | timestamp }}</dd>
      </div>
      <div class="data ns-data ns-data-2">
        <dt class="heading">{{ 'Last analyzed at' | t('app') }}</dt>
        <dd id="date-updated-value" class="value">{{ content.dateAnalyzed | timestamp }}</dd>
      </div>
      <div class="data ns-data ns-data-2">
        <dt class="heading">{{ 'Content expired at' | t('app') }}</dt>
        <dd id="date-created-value" class="value">{{ content.dateExpired | timestamp }}</dd>
      </div>
      <div class="data ns-data ns-data-2">
        <dt class="heading">{{ 'Submission ID' | t('neverstale') }}</dt>
        <dd class="value"><code>{{ content.id }}</code></dd>
      </div>
      <div class="data ns-data ns-data-2">
        <dt class="heading">{{ 'Submission UID' | t('neverstale') }}</dt>
        <dd class="value"><code>{{ content.uid }}</code></dd>
      </div>
    </dl>
    <hr>
    <h2>Transaction Log</h2>
    <div class="table-responsive">
      <table class="ns-table table data table-condensed table-bordered table-striped fullwidth">
        <thead>
          <tr>
            <th scope="col">When</th>
            <th scope="col">Analysis Status</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
        {% for transaction in content.transactionLogs.orderBy('dateCreated DESC').collect() %}
          {% set status = neverstaleToAnalysisStatus(transaction.status) %}
          <tr>
            <td class="ns-td-fixed-200">{{ transaction.dateCreated | datetime('short') }}</td>
            <td class="ns-td-fixed-200">
              {%- if status -%}
                <span class="status {{ status.color.value }}" aria-hidden="true"></span>
                {{ status.label }}
              {%- else %}
                {{ transaction.status | title }}
              {%- endif -%}
            </td>
            <td>{{ transaction.message }} {{ d(transaction.debugTransaction | json_decode) }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="3">{{ 'No transaction log entries yet' | t('neverstale') }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% css %}
.ns-meta {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  @media (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }
}
.ns-table thead th {
  border-bottom: 1px solid #e5e7eb;
}
.ns-data {
  @media (min-width: 1024px) {
    flex-grow: 1;
    flex-shrink: 0;
  }
}
.ns-data-2 {
  @media (min-width: 1024px) {
    width: 50%;
  }
}
.ns-td-fixed-200 {
  width: 200px;
}
{% endcss %}
