{% set opts = {
  showContentSummary: true,
  showLocalDetailsLink: true,
}|merge(opts ?? {}) %}

<div data-neverstale-flags>
  <neverstale-flags
    title="{{ title ?? 'Neverstale'|t('neverstale') }}"
    content-id="{{ content.id }}"
    content-status="{{ content.statusModel.label }}"
    content-status-color="{{ content.statusColor }}"
    :show-content-summary="{{ opts.showContentSummary | json_encode }}"
    :is-pending-processing-or-stale="{{ content.isPendingProcessingOrStale | json_encode }}"
    :endpoints="{{ {
      FETCH_API_CONTENT: actionUrl('neverstale/content/fetch', {
        customId: content.customId,
      }),
      VIEW_LOCAL_CONTENT: opts.showLocalDetailsLink ? url("neverstale/content/#{content.id}"),
      IGNORE_FLAG: actionUrl('neverstale/flag/ignore'),
      RESCHEDULE_FLAG: actionUrl('neverstale/flag/reschedule'),
    } | json_encode(constant('JSON_PRETTY_PRINT')) }}"
    :csrf-token="{{ {
      name: craft.app.config.general.csrfTokenName,
      value: craft.app.request.csrfToken,
    } | json_encode(constant('JSON_PRETTY_PRINT')) }}"
    {# We will need to add more translations here #}
    :i18n="{{
      craft.neverstale.template.getTranslationsForFlagsWidget() | json_encode(constant('JSON_PRETTY_PRINT'))
    }}"
  ></neverstale-flags>
</div>
