{#
  Neverstale Entry Sidebar Widget Template

  @todo replace with Vue / web component rendering
#}

<!-- START VUE FLAGS WIDGET -->
<div id="neverstale-container" class="content" style="margin-inline: -1.5rem;">
  <neverstale-flags
    content-id="{{ content.id }}"
    content-status="{{ content.statusAsEnum.label }}"
    content-status-color="{{ content.statusColor }}"
    :is-pending-processing-or-stale="{{ content.isPendingProcessingOrStale | json_encode }}"
    :endpoints="{{ {
      FETCH_API_CONTENT: actionUrl('neverstale/content/fetch', {
        customId: content.customId,
      }),
      VIEW_LOCAL_CONTENT: url("neverstale/content/#{content.id}"),
      IGNORE_FLAG: actionUrl('neverstale/flag/ignore'),
      RESCHEDULE_FLAG: actionUrl('neverstale/flag/reschedule'),
    } | json_encode(constant('JSON_PRETTY_PRINT')) }}"
    :csrf-token="{{ {
      name: craft.app.config.general.csrfTokenName,
      value: craft.app.request.csrfToken,
    } | json_encode(constant('JSON_PRETTY_PRINT')) }}"
    {# We will need to add more translations here #}
    :i18n="{{ {
      NO_FLAGS_FOUND: 'No flags found.' | t('neverstale'),
      IGNORE: 'Ignore' | t('neverstale'),
      RESCHEDULE: 'Reschedule' | t('neverstale'),
    } | json_encode(constant('JSON_PRETTY_PRINT')) }}"
  ></neverstale-flags>
</div>
<!-- END VUE FLAGS WIDGET #-->

<!-- START TWIG FLAGS WIDGET -->
<div id="neverstale-flags" class="content" style="margin-bottom: 1rem">
  <div class="meta ns-sidebar">
    <header class="ns-sidebar-header">
      <h2 class="h2">{{ 'Neverstale'|t('neverstale') }}</h2>
    </header>
    <dl class="meta ns-sidebar-meta">
      <div class="data">
        <dt class="heading">{{ 'Content Status' | t('neverstale') }}</dt>
        <dd class="">
          <span class="status {{ content.statusColor }}"></span>
          <span>{{ content.statusAsEnum.label | t('neverstale') }}</span>
        </dd>
      </div>
      <div class="data">
        <dt class="heading">{{ 'Date Updated' | t('app') }}</dt>
        <dd class="">
          <span>{{ content.dateUpdated | timestamp }}</span>
        </dd>
      </div>
      {%- if content.dateAnalyzed %}
        <div class="data">
          <dt class="heading">{{ 'Last Analyzed' | t('neverstale') }}</dt>
          <dd class="">
            <span>{{ content.dateAnalyzed | timestamp }}</span>
          </dd>
        </div>
        {%- if content.dateExpired %}
          <div class="data">
            <dt class="heading">{{ 'Content Expired' | t('neverstale') }}</dt>
            <dd class="">
              <span>{{ content.dateExpired | timestamp }}</span>
            </dd>
          </div>
        {%- endif %}
      {%- endif %}
    </dl>
    {%- if content.isPendingProcessingOrStale %}
      <div id="isPendingProcessingOrStale-tip" class="readable" style="margin: 1rem 0">
        <blockquote class="note warning" style="font-size: 13px"><p>{{ 'This content is currently pending processing by Neverstale, and as such
          some values may be out of date'|t('neverstale') }}</p>
        </blockquote>
      </div>
    {%- endif %}
    {% if flagData and flagData.flags is not empty %}
      {#      @todo i18n #}
      <div {{ attr({
        style: content.isPendingProcessingOrStale ? 'opacity: 0.5',
      }) }}>
        <h3 class="h4">{{ content.flagCount }} Content Flag{{ content.flagCount > 1 ? 's' }}</h3>
        <ul class="data">
          {% for item in flagData.flags %}
            <li class="ns-flag-list-item">
              <details>
                <summary class="h4">{{ item.flag | title }} ({{ item.expired_at | timestamp }})</summary>
                <div>
                  <dl>
                    <dt class="h6">Expired at:</dt>
                    <dd>{{ item.expired_at | timestamp }}</dd>
                    <dt class="h6">Reason:</dt>
                    <dd>{{ item.reason }}</dd>
                    <dt class="h6">Snippet:</dt>
                    <dd><code>{{ item.snippet }}</code></dd>
                  </dl>

                  <hr>
                  <div class="flex flex-nowrap" style="padding-bottom: 1.25rem; font-size: 12px">
                    <form {{ attr({
                      id: 'neverstale-flag-ignore-' ~ item.id,
                      method: 'POST',
                    }) }}
                      onsubmit="return confirm('{{ 'Are you sure you want to ignore this flag? There is no undo'|t('neverstale') }}')">
                      {{ csrfInput() }}
                      {{ actionInput("neverstale/flag/ignore") }}
                      {{ redirectInput(craft.app.request.url) }}
                      {{ hiddenInput("flagId", item.id) }}
                      {{ hiddenInput("contentId", content.id) }}
                      <button type="submit" class="btn btn-primary" {{ content.isPendingProcessingOrStale ? 'disabled' }}>
                        {{ tag('span', {
                          'data-icon': 'xmark',
                          'data-icon-size': 'puny',
                          'role': 'img',
                        }) }}
                        {{ "Ignore"|t('neverstale') }}</button>
                    </form>
                    <form {{ attr({
                      id: 'neverstale-flag-reschedule-' ~ item.id,
                      method: 'POST',
                    }) }}>
                      {{ csrfInput() }}
                      {{ actionInput("neverstale/flag/reschedule") }}
                      {{ redirectInput(craft.app.request.url) }}
                      {{ hiddenInput("flagId", item.id) }}
                      {{ hiddenInput("contentId", content.id) }}
                      <button type="submit" class="btn icon" {{ content.isPendingProcessingOrStale ? 'disabled' }}>
                        {{ tag('span', {
                          'data-icon': 'calendar-days',
                          'data-icon-size': 'puny',
                          'role': 'img',
                        }) }}{{ "Reschedule"|t('neverstale') }}
                      </button>
                      {{ tag('label', {
                        for: 'ns-expired-at-' ~ item.id,
                        class: 'sr-only',
                      }) }}
                      {{ input('date', 'expiredAt', null, {
                        id: 'ns-expired-at-' ~ item.id,
                      }) }}
                    </form>
                  </div>
                </div>
              </details>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <footer>

      <div class="flex">
        <a href="{{ content.cpEditUrl }}" class="btn">{{ 'More Details'|t('neverstale') }}</a>
        {% if flagData %}
          <a href="{{ flagData.permalink }}" target="_blank" class="btn submit icon external">{{ 'View in Neverstale'|t('neverstale') }}</a>
        {% endif %}
      </div>
    </footer>
  </div>
</div>
<!-- END TWIG FLAGS WIDGET -->

{% set scriptTagOptions = {
  'depends': [
    'zaengle\\neverstale\\web\\assets\\neverstale\\NeverstaleAsset',
  ],
} %}

{{ craft.neverstale.viteService.register('src/web/assets/neverstale/src/main.ts', false, scriptTagOptions) }}

{# Temp styles, to replace with own TW classes in widget #}
{% css %}
  #neverstale-container {
    --ns-flags-background-color: #F1F6FB;
    --ns-flags-padding: 1rem;
    --ns-flags-border: 1px solid #e5e7eb;
    --ns-flags-border-radius: 5px;
    --ns-flags-box-shadow: 0 0 0 1px #cdd8e4, 0 2px 12px rgba(205, 216, 228, .5);
    --ns-flags-text-color: #000;
    --ns-flags-primary-button-color: #dc2626;
    --ns-flags-primary-button-text: #ffffff;
    --ns-flags-secondary-button-color: rgba(96, 125, 159, .25);
    --ns-flags-secondary-button-text: rgba(63, 77, 90, 1);
    --ns-flags-button-border-radius: 5px;
    --ns-flags-button-padding: 0.5rem 1rem;
    --ns-flags-date-input-background-color: #ffffff;
    --ns-flags-date-input-border-color: #e5e7eb;
    --ns-flags-date-input-border-radius: 5px;
    --ns-flags-date-input-padding: 0.5rem 1rem;
  }

  .ns-sidebar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;
  }
  .ns-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .ns-sidebar-header h2 {
    margin: 0 !important;
  }

  .ns-sidebar-meta {
    box-shadow: none !important;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: var(--hairline-color);
    margin-bottom: 0 !important;
  }
  .ns-flag-list-item {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid var(--hairline-color);
  }
  .ns-flag-list-item:last-child {
    border-bottom: none;
  }
{% endcss %}
